.task {
  position:  relative;
  display: flex;
  align-items: center;
  margin: 5% 0 0 0;
  min-height: 250px;
  border-radius: 15px;
  background: #fafafa;
  .container {
    h2 {
      text-align: center;
      // letter-spacing: 10px;
    }
    .task__formula {
      display: flex;
      justify-content: center;
      margin: 3% 0;
    }
    button {
      position: absolute;
      right: 5%;
      bottom: 5%;
      padding: 1%;
      border-radius: 5px;
      background: $blue;
      color: $white;
    }
  }
}
