.task {
  background: #fafafa;

  min-height: 250px;
  .checkbox__line {
    position: absolute;
    display: block;
    background: $blue
  }
  .task__container  {
    border-radius: 15px;
    position:  relative;
    padding: 7%;
    text-align: center;
    height: 100%;
    h2 {
      text-align: center;
    }
    small a{
      display: block;
      position: absolute;
      left: 10%;
      bottom: 0;
      color: $grey;
      @include adaptiv-font(13);
    }
    .task__formula {
      display: flex;
      justify-content: center;
    }
    .task__animation {
      position: absolute;
      right: 10%;
      bottom: 0%;
      .checkbox {
        position:  relative;
        .checkbox__input {
          appearance: none;
          position: absolute;
        }
        .checkbox__label {
          position: relative;
           padding: 15px 30px ;
           user-select:none;// отменяет выделение текста при двойном нажатии
           color: $blue;
           cursor: pointer;
           transition: 0.3s;
         }

        ////top-left
        .checkbox__line--top-left {
          top: 0;
          left: 50%;
          width: 0%;
          height: 2px;
        }
        .checkbox__input:checked + .checkbox__label ~ .checkbox__line--top-left {
          width: 50%;
          transition: 0.4s;
          transition-delay: 0.25s;
        }
        ////top-right
        .checkbox__line--top-right {
          top: 0;
          left: 50%;
          width: 0%;
          height: 2px;
          transform-origin: left center;
          transform:  rotate(180deg);

        }
        .checkbox__input:checked + .checkbox__label ~ .checkbox__line--top-right {
          width: 50%;
          transition: 0.4s;
          transition-delay: 0.25s;
        }
        ////right
        .checkbox__line--right {
          top: 0;
          right: 0;
          width: 2px;
          height: 0%;
        }
        .checkbox__input:checked + .checkbox__label ~ .checkbox__line--right {
          height: 100%;
          transition: 0.45s;
          transition-delay: 0.75s;
        }
        ////left
        .checkbox__line--left {
          top: 0;
          left: 0;
          width: 2px;
          height: 0%;
        }
        .checkbox__input:checked + .checkbox__label ~ .checkbox__line--left {
          height: 100%;
          transition: 0.45s;
          transition-delay: 0.75s;
        }
        ////answer
        }
      }
  }
  .answer {
    padding: 5% 10%;
    height: 0;
    opacity: 0;
    background: #fafafa;
    // transition: 1s;
    position: absolute;
    top: -10000%;
    picture, img {
      display: flex;
      justify-content: center;
      max-width: 100%;
    }
    .answer__line--top-right{
      top: 0;
      right: 10%;
      width: 0%;
      height: 2px;
      transform: rotate(180deg);
      transform-origin: right;
    }
    .answer__line--top-left{
      top: 0;
      right: calc(9.8% + 127.37px);
      // transform:  rotate(180deg);
      width: 0%;
      height: 2px;
    }
  }
  .answer--open {
    position:  relative;
    height: auto;
    opacity: 1;
    transition:  opacity 0.5s;
    transition-delay: 1.25s;
    .answer__line--top-right{
      width: 5%;
      transition: 0.3s;
      transition-delay: 1.15s;
    }
    .answer__line--top-left{
      width: calc(95% - (9.8% + 127.37px));
      transition: 0.4s;
      transition-delay: 1.15s;
    }
  }
}
