* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Nunito Sans' ;
}
div {
  margin: 0;
  padding: 0;
}
html, body {
  // height: 100%;
  // max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  // overflow-x: hidden;
}

a {
  text-decoration: none;
  display: inline-block;
}
button {
  cursor: pointer;
  border: none;
}
li {
 list-style-type: none;
 * {
   color:  inherit;
 }
}
