.theoretical {
  background: $backround;
  &__item {
    h1, h2, h3, h4, h5, h6 {
      // display: block;
      padding-top: 2rem;
      text-align: center;
      line-height: 2rem;
    }
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
    // a {
    //   // float: right;
    //   color: $grey;
    //   @include adaptiv-font(16);
    //   &:hover {
    //     color: $blue;
    //   }
    // }
  }
}
